html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

.footer{
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: white;
}

.section-top{
    margin-bottom: 20px;
    position: relative;
}

.section-top img {
    width: 100%;
    min-height: 650px;
    opacity:0.8;
    -moz-opacity:0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    background-color:#000;

}

.section-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);  
    z-index: 1;
  }

.section-top p {
    font-size: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    min-width: 950px;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-family: 'Smooch', cursive;
}

.product-description-tabs{
    padding: 10px;
}

.section{
    padding: 50px 0;
}

.section h1{
    margin-bottom: 40px;
}

.product-item{
    height: 500px;
    background-color: white;
    /* border: 1px solid lightgrey; */
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px 5px;
    transition: all .4s;
}

.product-item:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
}

.sec{
    display: block;
    max-height: 300px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.text {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}


.add-to-card-btn{
    margin-top: 10px;
}

.discount-container{
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery{
    height: 300px;
    background-color: rgb(200, 91, 91);
    text-align: center;
    color: white;
}

.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}


.navbar-main{
    background-color: #55e073;
    border: none;
    border-radius: 0;
}

.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;
    margin-right: 50px;
    display: flex;
    justify-content: end;
}

.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #55e093;
    z-index: 10;
    padding: 10px;
}

.form-error{
    color: red;
}